#eath-head p{font-size: 14px;text-align: center;width: 84%;}
#eath-head .icon-01{font-size: 24px;}
#eath-head{display: flex;justify-content: flex-end;align-items:baseline;width: 100%;background: white;}

#eath-wrap{width: 100%;height: 100%;overflow:auto;}
#eath-content{width: 100%;background: #eeeeee;}

#data1{width: 100%;justify-content: space-between;display: flex;padding: 10px 0;background: white;}
#data1 a{display: flex;width: 25%;}
#data1 a img{width: 85%;}
#data1 ul li{display: flex;justify-content: center;align-items: center;}
#data1 ul li:last-of-type{padding-top: 4px;}

#data2{width: 100%;background: white;}
#data2 p{text-align: center;font-size: 16px;font-weight: 400;padding-top:15px;}
#data2 div{padding: 5px;display:flex;justify-content: space-around;flex-wrap: wrap;}
#data2 div span{margin: 5px;display:inline-block;}
.banner-img{width: 100%;}

.button{font-size: 12px;color: #fff;background-color: #D0011B;width: 70px;height: 22px;line-height: 14px;  text-align: center; border-radius:12px;border: none;display: block; margin:2px auto 0 auto;}

#dita3 li:first-of-type img{height:140px;display:block;}
#dita3 li:nth-of-type(2){display: flex;justify-content: space-between;padding: 4px 0;}
#dita3 li:nth-of-type(2) span:first-of-type{color: red;}
#dita3 li:nth-of-type(2) span:last-of-type{color: #b5b5b5;text-decoration: line-through;}

#dita3 ul{margin-left:10px;}
#dita3{width: 100%;overflow: auto;background: white;padding-top: 15px;}
#dita3>div{display: flex;justify-content: space-between;}

#time{width: 100%;display: flex;flex-wrap: wrap;background: white;margin-top:8px;}
#time p{text-align: center;width: 100%;padding: 4px 0;font-weight: 500;font-size: 16px;}
#time p:last-of-type{color: red;font-weight: 700;}

#data4{width: 100%;background: white;margin-top: 15px;padding-top: 6px;}
#data4>p:first-of-type{display: flex;justify-content: space-around;width: 100%;}
#data4>p:first-of-type span{font-size: 18px;width: 12%;text-align: center;padding-bottom: 1px;}
#data4>div{width: 100%;display: flex;justify-content: space-around;flex-wrap: wrap;}
#data4>div ul{width: 80%;position: relative;margin-top:16px;}
#data4>div ul li{width: 100%;text-align: center;}
#data4>div ul li:nth-of-type(2){text-overflow: ellipsis;overflow: hidden;white-space: nowrap;}
#data4>div ul li:nth-of-type(3){display: flex;justify-content: space-between;align-items: center;padding: 0 4px;}
#data4>div ul li:nth-of-type(3)>p{display: flex;align-items: center;}
#data4>div ul li:nth-of-type(3)>p>span{padding-top: 4px;}
#data4>div ul li:nth-of-type(3)>span{color: red;}

#data4>div ul li:nth-of-type(4) .car0{background:url("../../img/icon-购物.png") no-repeat right center;height: 40px;background-size: contain;color: white;display: flex;justify-content: flex-end;align-items: center;}
#data4>div ul li:nth-of-type(4){position: absolute;bottom: 52px;padding: 0 4px 2px 4px;}
#data4>div ul li:nth-of-type(4) .car0>i{padding-right: 5px;}

#data4>div ul li:nth-of-type(4)>p:first-of-type{position: absolute;bottom: 0;font-size: 24px;color: red;}
#data4>div ul li:nth-of-type(4)>p:first-of-type>span{padding-right: 4px;}
#data4>div ul li:nth-of-type(4) .car0>span{background: green;color: red;}

#data4>div ul li img{width: 100%;}
#data4>div ul li .xing{width: 30px;}
.one{border-bottom: 2px solid red;}
.towe{border-bottom: 2px solid white;}