.module{
    width: 100%;
    height: 247px;
    margin: 0 auto;
}
.module .me0{
    width: 100%;
    height: 38%;
    background: #fff;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.module .me0 .type1{
    width: 25%;
    height: 100%
}
.module .me0 .type1>img{
    width: 100%;
    height:100%;
}
.module .me1{
    width: 100%;
    height: 46px;
    margin-top: 11.25px;
}
.module .me1>img{
    width: 100%;
    height: 100%;
}






























