#data4{width: 100%;background: white;margin-top: 15px;padding-top: 6px;}
#data4>p:first-of-type{display: flex;justify-content: space-around;width: 100%;}
#data4>p:first-of-type span{font-size: 18px;width: 12%;text-align: center;padding-bottom: 1px;}
#data4>div{width: 100%;display: flex;justify-content: space-around;flex-wrap: wrap;}
#data4>div ul{width: 48%;position: relative;margin-top:16px;}
#data4>div ul li{width: 100%;text-align: center;}
#data4>div ul li:nth-of-type(2){text-overflow: ellipsis;overflow: hidden;white-space: nowrap;}
#data4>div ul li:nth-of-type(1){width: 100%;height: 250px;}
#data4>div ul li:nth-of-type(3){display: flex;justify-content: space-between;align-items: center;padding: 0 4px;}
#data4>div ul li:nth-of-type(3)>p{display: flex;align-items: center;}
#data4>div ul li:nth-of-type(3)>p>span{padding-top: 4px;}
#data4>div ul li:nth-of-type(3)>span{color: red;}

#data4>div ul li:nth-of-type(4) .car0{background:url("../../../img/icon-购物.png") no-repeat right center;height: 40px;background-size: contain;color: white;display: flex;justify-content: flex-end;align-items: center;}
#data4>div ul li:nth-of-type(4){position: absolute;bottom: 52px;padding: 0 4px 2px 4px;}
#data4>div ul li:nth-of-type(4) .car0>i{padding-right: 5px;}

#data4>div ul li:nth-of-type(4)>p:first-of-type{position: absolute;bottom: 0;font-size: 24px;color: red;}
#data4>div ul li:nth-of-type(4)>p:first-of-type>span{padding-right: 4px;}
#data4>div ul li:nth-of-type(4) .car0>span{background: green;color: red;}

#data4>div ul li img{width: 100%;height: 100%;}
#data4>div ul li .xing{width: 30px;}
.one{border-bottom: 2px solid red;}
.towe{border-bottom: 2px solid white;}

.tab{
    display: none;}